<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Belanja jersey bola tim favorit disini!</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/demo")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="header" class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
                @Html.ActionLink("Jrsey", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div id="menubar" class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Cara Order", "About", "Home")</li>
                    <li>@Html.ActionLink("Konfirmasi Pembayaran", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Cek Status Order", "Index", "Home")</li>
                    <li>@Html.ActionLink("Testimonial", "About", "Home")</li>
                    <li>@Html.ActionLink("Blog", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Tentang Kami", "Contact", "Home")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Jrsey.com</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/blueimp")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
